@import '../Variables.scss';
.card-container{
    width: 100%;
    background-color: white;
    color: $prim-text;
    position: relative;
    margin-bottom: 1vh;
}
.product-picture{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}
.card-container h3{
    text-shadow: 3px 1px 3px rgb(7, 7, 7);
}
.card-desc{
    padding: 5% 5% 1%;
}
.card-desc-header{
    padding: 1% 5% 1%;
}
.card-button:hover{
cursor: pointer;
}
.card-container button{
    width: 100%;
    border: none;
    background: none;
    border-top: 1px solid black;
    padding: 5%;
    color: rgb(207, 32, 32);
    font-weight: 1000;
}
@media only screen and (min-width: 650px){
    .product-picture{
        height: 250px;
    }
}
@media only screen and (min-width: 800px){
    .product-picture{
        height: 300px;
    }
    .card-container{
        width: 350px;
    }
}
@media only screen and (min-width: 1200px){
    .product-picture{
        height: 300px;
    }
    .card-container{
        width: 400px;
    }
}
@media only screen and (min-width: 1800px){
    .product-picture{
        height: 350px;
    }
    .card-container{
        width: 650px;
    }
}
// @media (min-width: 850px){
//     .card-container img{
//         height: 200px;
//     }
// }
// @media (min-width: 1200px){
//     .card-container img{
//         height: 600px;
//     }
// }
// @media (min-width: 2000px){
//     .card-container img{
//         height: 600px;
//     }
// }