.cart-container{
    position: relative;
    margin: auto;
    background-color: #282c34;
    width: 100%;
}
.sidebar-container img{
    width: 100%;
    height: 100px;
}.sidebar-container ul{
    margin: 0;
    text-align: left;
    font-size: 1.0rem;
}
.sidebar-container li{
    list-style: none;
    text-align: left;
    padding: 5% 0%;
    font-size: 1.5rem;
    font-weight: 500;
    
}
.size{
    margin:0;
    padding: 0;
    text-align: left;
    align-items: left;
    justify-content: left;
    justify-items: left;
}
.size h6{
    padding: 10% 0;
    margin: 1% 0;
    text-align: left;
}
.sidebar-container a{
    text-decoration: none;
    color: black;
    width: 100%;
    white-space: nowrap;
}
.cart-card-container{
    margin: 10% 0;
    margin: auto;
    width: 60%;
}
.cart-item-card{
    font-family: 'Public Sans', sans-serif;
    background-color: rgba(229, 230, 234, 0.895);
    display: grid;
    margin: 3% 0;
    font-size: 1.3rem;
    grid-template-columns: 25% 41% 33%;
}
.cart-price span{
    padding: 1rem;
}
.cart-buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}
.cart-buttons button{
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: none;
}
#cart-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.cart-item-card select{
    width: 100%;
}
.cart-item{
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cart-price{
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cart-info{
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    padding: 2rem;
    
}
.cart-item-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h5{
    padding: 0;
    margin: 0;
}
.special-instructions{
    margin-top: 2%;
}
.special-text{
    margin-top: 5%;
}
.empty-cart{
    height: 25vh;
    width: 50vw;
    background-color: white;
    margin: auto;
}
.empty-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: auto;
    height: 25vh;
}
.empty-flex h2{
}
@media (min-width:600px){
    .cart-item-card{

    }
}
@media(max-width:850px){
    .cart-card-container{
        width: 100%;
    }
}