.sidebar-container{
    position: absolute;
    top: 15%;
    left: 0;
    background-color: rgba(229, 230, 234, 0.895);
    width: 80%;
    z-index: 1;
}
.sidebar-container img{
    width: 100%;
    height: 100px;
}.sidebar-container ul{
    margin: 0;
    text-align: left;
    font-size: 1.0rem;
}
.sidebar-container li{
    list-style: none;
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.sidebar-container a{
    text-decoration: none;
    color: black;
    width: 100%;
    white-space: nowrap;
}
.sidebar-wrapper{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem;
}
@media (min-width:650px){
    .sidebar-container{
        top: 8%;
        width: 60%;
    }
}