.App {
  text-align: center;
}
img{
  max-width: 100%;
}

body {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-cards-container{
  width: 100%;
}
.cards{
  display: grid;
  width: 100%;
  grid-template-columns:  100%;
  gap: 3vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}
.card-img{
  max-width: 100%;
}
@media (min-width:600px){
  .cards{
    display: grid;
    width: 100%;
    grid-template-columns:  50% 50%;
    gap: 3vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
  }
}
@media (min-width:1200px){
}
@media(min-width:1800px){
  .cards{
    font-size: 2.0rem;
    gap: 1vw;
  }
}